<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Downtimes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div  class="navbar navbar-inverse navbar-fixed-top" >

        
       <img  class="img-responsive"   src="~/Content/images/nyprologo-wh.png" />
    </div>
    @*<div class="navbar navbar-fixed-top">
        <div class="navbar">
            <h2>@ViewBag.title</h2>
        </div>
    </div>*@
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nypro Healtcare Baja </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
